@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="masthead">
        <div class="container-fluid px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-black font-weight-bold">Welcome to TigerTix!</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-black-75 mb-5">The best place to find tickets for on campus events!</p>
                    <a class="btn btn-primary btn-xl" asp-area="" asp-controller="User" asp-action="Create">Create an account today</a>
                </div>
            </div>
        </div>
    </div>
</body>
